SUPABASE_URL=https://wfxaeibeyjvgvboypqtd.supabase.co
SUPABASE_SERVICE_ROLE_KEY=sua_service_role_key_aqui
ML_CLIENT_ID=seu_ml_client_id_aqui
ML_CLIENT_SECRET=seu_ml_client_secret_aqui
SERPAPI_KEY=sua_serpapi_key_aqui
